*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #FFF8E5;
}
.button_container{
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows:10em;
    align-items: center;
    justify-items: center;
}
.button_container h3{
    align-self: end;
    font-size: 2em;
}
button{
    padding:15px;
    background-color: #E05D5D;
    border:1px solid #E05D5D;
    border-radius: 0.5em;
    transition: 1s;
    cursor:pointer;
}
button:hover{
    transform: scale(1.4);
}
@media all and (max-width:780px){
    .button_container h3{
        font-size: 1.5em;
        text-align: center;
    }
   
}